@font-face {
    font-family: Gilroy;
    src: url(../src/assets/fonts/Gilroy-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Gilroy;
    src: url(../src/assets/fonts/Gilroy-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Gilroy;
    src: url(../src/assets/fonts/Gilroy-Heavy.ttf);
    font-weight: 900;
    font-style: normal;
}

@import "tailwindcss";

@theme {
    --font-gilroy: "Gilroy", sans-serif;
    --color-primary: #F9D00A;
    --color-secondary-dark: #1B1B1B;
    --color-secondary-light: #F4EFE2;
    --color-accent-1: #FFE567;
    --color-accent-2: #00941B;
}
*{
    font-family: var(--font-gilroy)
}